<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="assets/images/logo.svg" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">

                <li class='sidebar-title'>Menu Principal</li>

                <li class="sidebar-item active ">
                    <a href="index.html" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Home</span>
                    </a>
                </li>


                <li class="sidebar-item  ">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="layout" width="20"></i>
                        <span>Medicos</span>
                    </a>

                </li>


                <li class="sidebar-item">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="layers" width="20"></i>
                        <span>Doentes</span>
                    </a>

                </li>

                <li class="sidebar-items">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="grid" width="20"></i>
                        <span>Tuberculose</span>
                    </a>

                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i>
                        <span>Autenticação</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="#">Login</a>
                        </li>

                        <li>
                            <a href="#">Register</a>
                        </li>

                        <li>
                            <a href="#">Forgot Password</a>
                        </li>

                    </ul>

                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>